* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html, body {
  overflow-x: hidden;
}

@media screen and (min-width: 376px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 20px;
  }
}